<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>{{ title || YH-antagning }}</title>
    <meta name="robots" content="{{ robots || index, nofollow }}" />
    <meta name="description" content="{{ description || Trygg och Effektiv antagning för svenska yrkeshögskolan }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/_images/icon.svg" type="image/svg+xml">
    <meta name="format-detection" content="telephone=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:wght@700&display=block" rel="stylesheet">

    <script src="/_scripts/is-mobile.js"></script>

    <link rel="stylesheet" href="/_styles/main.css" />
    <link rel="stylesheet" href="/_styles/header.css" />
    <link rel="stylesheet" href="/_styles/footer.css" />

    <link rel="stylesheet" href="/_styles/components/screenshot.css" />
    <link rel="stylesheet" href="/_styles/components/illustration.css" />

    <link rel="stylesheet" href="/_styles/pages/index.css" />
    <link rel="stylesheet" href="/_styles/pages/about.css" />
    <link rel="stylesheet" href="/_styles/pages/contact.css" />
    <link rel="stylesheet" href="/_styles/pages/news-index.css" />
    <link rel="stylesheet" href="/_styles/pages/news-article.css" />
    <link rel="stylesheet" href="/_styles/pages/terms-of-service.css" />
    <link rel="stylesheet" href="/_styles/pages/terms-of-service-history-index.css" />
</head>

<body>

    <header class="header">
        <!-- header.html -->
    </header>

    <main class="main">
        <div class="{{ pageclass ||  }}">
            {{ content }}
        </div>
    </main>

    <footer class="footer">
        <!-- footer.html -->
    </footer>

</body>

</html>